*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

*~
notes_for_implementation.txt
pickled_dendrogram_object.p
saved_dendrogram/
saved_dendrogram_object.hdf5
source_file.dat
test_header.fits
wat.py